@model IEnumerable<_23DH114456_MyStore.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>DANH SÁCH SẢN PHẨM</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create",null,new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table bg-info col-md-6">
    <tr>
        <th class="bg-success">
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            TÊN DANH MỤC
        </th>
        <th class="bg-success"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Cập nhật", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Xem chi tiết", "Details", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
}

</table>
